body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(146, 217, 146);
}

.title {
    font-size: 2em;
    padding-left: 0.5em;
}

nav {
    margin-top: 0;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(237, 220, 160);
    border-radius: 20%;
}

main {
    margin-top: 1em;
}

footer {
    text-align: center;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.home .content {
    text-align: left;
    width: 50%;
}

.profile-image {
    position: relative;
    float: right;
    margin-right: 3em;
    width: 250px;
    border-radius: 10%;
    transform: scaleX(-1);
}

.social a {
    color: black;
    padding: 0.3em;
    display: inline-block;
}